@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-bitcount-prop-single: 'Bitcount Prop Single', sans-serif;
    --font-jetbrains-mono: 'JetBrains Mono', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

@theme {
  --white: #F8F7FF;
  --lavender-gray: #D8D5E2;
  --light-blue: #8FE7FF;
  --lilac: #F0A7FF;
}

@theme {
    --animate-float: float 3s ease-in-out infinite;
    
    @keyframes float {
        0%, 
        100% {
            transform: translateY(0);
        } 
        50% {
            transform: translateY(-15px);
    }
}
}